.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  padding: 20px 50px;
}

a{
  text-decoration: none;
  color: black;
}
html{
  background: radial-gradient(circle farthest-corner at 100px 50px, #32CD32, #40E0D0);
}
.flag-entry {
  position: relative;
  margin: 0px 0;
}
.form-control {
  background: none;
  background-color: white;
  color: $sub-color;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: auto;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid $sub-color;
  margin: 0px 0;
  margin-right: 30px;
}
#btn{
  margin-top: 14px;
  background: radial-gradient(circle farthest-corner at 100px 50px, #9ACD32, #4682B4);
  margin-left: 100px;
}