#auth-flag{
    position: absolute;
    top: 400px;
    left: 550px;
}
#btn{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: absolute;
  top: 385px;
  left: 710px;
}