#about{
    position: absolute;
    top: 150px; 
    right: 20px;
    left: 20px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 100;
    font-size: medium;
    border: 3px solid gray;
    border-radius: 10px;
}
.directions{
    position: absolute;
    top: 350px; 
    right: 50px;
    left: 15px;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
